@import "styles/mixins";
@import "styles/variables";

.content {
  display: flex;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contacts {
  margin-bottom: 300px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1180px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 90px;
}


.content h2 {
  @include set-font-Montserrat-bold;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  color: #6b6b6b;
  text-transform: uppercase;
}

.address h2 {
  position: relative;
  margin-bottom: 46px;

  &::before {
    content: '';
    display: flex;
    position: absolute;
    width: 39px;
    height: 2px;
    background-color: $light-green;
    top: 40px;
  }

  &::after {
    content: '';
    display: flex;
    position: absolute;
    width: 70px;
    height: 2px;
    background-color: $light-green;
    top: 45px;
  }
}

.address {
  width: 460px;
  margin-bottom: 35px;
  margin-right: 2%;
}

.feedback {
  width: 475px;
}

.feedback h2 {
  position: relative;
  margin-bottom: 35px;
}

.address p {
  @include set-font-Montserrat-regular;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.24px;
  text-align: left;
  color: #a2a2a2;
}

.address p:nth-child(4) {
  margin-bottom: 50px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  column-gap: 15px;
}

.form input {
  width: 100%;
}

.form textarea {
  width: 100%;
}

.textarea {
  grid-column-start: 1;
  grid-column-end: -1;
  margin-bottom: 15px;
}

.feedback input {
  height: 31px;
  margin-bottom: 18px;
  padding-top: 11px;
  padding-bottom: 13px;
}

.input_name::placeholder,
.input_phone::placeholder,
.input_textarea::placeholder,
.input_name,
.input_phone,
.input_textarea {
  @include set-font-Montserrat-regular;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.24px;
  color: #a2a2a2;
}

.input_name,
.input_phone,
.input_textarea {
  border: solid 1px #c9c9c9;
  padding-left: 16px;
  outline: $light-green;
}

.errorInput {
  border: solid 2px red;
}

.errorTextarea {
  border: solid 1px red;
}

.input_textarea {
  height: 150px;
  margin-bottom: 15px;
}


.error {
  color: red;
  @include set-font-Montserrat-regular;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  margin-top: -15px;
}


.success {
  @include set-font-Montserrat-regular;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  color: $light-green;
  margin-top: 15px;
}


.btn {
  background-color: $light-green;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  width: 160px;
  height: 38px;
  margin-bottom: 0;
  outline: none;
  margin-top: 20px;

  &:hover {
    background-color: #4e4e4e;
  }

  &:active {
    background-color: $light-green;
  }
}

.btn:disabled {
  background-color: #5a5a5a;
}

.address h3 {
  @include set-font-Montserrat-regular;
  font-size: 26px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #636363;
  text-align: center;
  margin-bottom: 20px;
}

.address a p:hover {
  color: #303030;
}

.container .feedback h2 {
  &::before {
    bottom: -10px;
  }
}


@media (max-width: $mobile-width) {
  .feedback,
  .address {
    width: 100%;
  }


  .feedback input,
  .feedback textarea {
    width: 100%;
  }

  .contacts {
    margin-bottom: 50px;
  }

  .btn {
    width: 100%;
  }
}
