@import "../../styles/mixins";
@import "../../styles/variables";


.list {
  @include reset-ul;
  display: flex;
  flex-direction: row;

}


@media (max-width: 1439px) {
  .list {
    flex-direction: column;
    justify-content: center;
  }

}


