@import "../../styles/mixins";
@import "../../styles/variables";
.content {
  display: grid;
  grid-template-columns: 470px 1fr;
}

.pageHeader {
  background-color: $color-menu;
  min-height: 100vh;
}

.pageHeader_content {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  padding-top: 80px;
}

.pageHeader_index {
  min-height: 100vh;
}

.pageHeader__logo {
  margin-bottom: 19px;
  background-color: $green;
  display: flex;
  justify-content: center;
  align-items: center;

}

.pageHeader__logo img {
  padding: 35px 0;
}
.site-list__item--current {
  background-color: $color-current;
}





@media (max-width: $tablet-width) {
  .pageHeader {
    display: none;
  }
  .content{
    grid-template-columns: 1fr;
  }
}
