$color-menu: rgba(48, 48, 48, 1);
$color-current: rgba(65, 65, 65, 1);
$color-empty: rgba(80, 80, 80, 1);
$white: #ffffff;
$black: #000000;
$green: rgba(50, 142, 111, 1);
$light-green: #33cc99;

$tablet-width: 1199px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
